/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


@import "compass/reset";
 .clearfix:after{
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}
.clearfix{
    zoom:1;
}


.pull-left{
  float:left;
}

.pull-right{
  float:right;
}


html,body{height:100%;}

body{
  background:#070725;
  width:1280px;
  // height:720px;
  margin:0 auto;
  // overflow:hidden;
}

.header{
  height:22px;
  padding:10px;
  text-align:center;
  span{
    color:#fff;
    font-size:20px;
    padding:0 10px;
    line-height:30px;
  }
}

.main{
  display:flex;
  width:100%;
  height:800px;
  flex-wrap: wrap;
  align-items:center;
  // border:1px solid #f00;
  .item-wrap-a{
    display:flex;
    width:100%;
    text-align:center;
    flex-wrap: nowrap;
    justify-content: space-around;
    >div{
      background:#06113f;
      width:300px;
      margin:10px;
      // border:1px solid #fff;
      padding:10px;
      box-sizing:border-box;
      h5{
        font-size:16px;
        color:#fff;
        text-align:center;
        line-height:30px;
      }
      .totalnum{
        text-align:center;
        padding:10px 0 0 0;
        span{
          display:inline-block;
          padding:4px 6px;
          font-size:24px;
          color:#1bd1bb;
          background:#0f1b4e;
        }
      }
    }
  }
}


.item-wrap-b{
  padding:6px;
  width:100%;
  display:flex;
  height:100%;
  .item-wrap-bleft{
    width:320px;
    >div{
      // height:200px;
      margin-bottom:10px;
      background:#06113f;
      position: relative;
      .title{
        // position: absolute;
        width:100%;
        height:30px;
        line-height:30px;
        text-indent:10px;
        z-index: 10;
        color:#fff;
        font-size:14px;
      }
      .footer{
        height:30px;
        line-height:30px;
        text-indent:10px;
        z-index: 10;
        color:#fff;
        font-size:12px;
      }
      #iwb-b,#iwb-c{
        height:200px;
        width:300px;
        margin:0 auto;
      }
      #iwb-a{
        height:150px;
        width:300px;
        margin:0 auto;
      }

    }
    .iwb-a{
      background:rgba(255,255,255,.4);
      border-radius:10px;
    }
  }
  .item-wrap-bright{
    width:340px;
    >div{
      // height:200px;
      margin-bottom:10px;
      background:#06113f;
      position: relative;
      .title{
        // position: absolute;
        width:100%;
        height:30px;
        line-height:30px;
        text-indent:10px;
        z-index: 10;
        color:#fff;
        font-size:14px;
      }
      .footer{
        height:30px;
        line-height:30px;
        text-indent:10px;
        z-index: 10;
        color:#fff;
        font-size:12px;
      }
      #iwb-d,#iwb-e,#iwb-f{
        height:200px;
        width:310px;
        margin:0 auto;
      }
    }
  }

  .item-wrap-bmiddle{
    flex:1;
    border:1px solid #fff;
    margin:0 10px;
    height:calc(100% - 138px);
    background: url(../mapbg.png) no-repeat center top;
    background-size:contain;
  }
}



 .totalnum-a, .totalnum-b, .totalnum-c, .totalnum-d{
  i{
    width: 33px;
    height: 47px;
    display: inline-block;
    background: url(../number1.png) no-repeat;
    background-position: 0 0;
    margin:0 5px;
  }
}
