/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/index.scss */
.clearfix:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}

/* line 15, ../sass/index.scss */
.clearfix {
  zoom: 1;
}

/* line 20, ../sass/index.scss */
.pull-left {
  float: left;
}

/* line 24, ../sass/index.scss */
.pull-right {
  float: right;
}

/* line 29, ../sass/index.scss */
html, body {
  height: 100%;
}

/* line 31, ../sass/index.scss */
body {
  background: #070725;
  width: 1268px;
  margin: 0 auto;
  overflow-x: hidden;
}

/* line 41, ../sass/index.scss */
.header {
  height: 22px;
  padding: 10px;
  text-align: center;
  position: relative;
  width: 1268px;
}
/* line 47, ../sass/index.scss */
.header span {
  color: #fff;
  font-size: 30px;
  padding: 0 10px;
  line-height: 30px;
  background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#99ccff), to(white));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 1px solid #99CCFF;
  position: relative;
}

/* line 60, ../sass/index.scss */
.header:before {
  width: 471px;
  content: '';
  height: 1px;
  background: -webkit-linear-gradient(left, #000, #99CCFF);
  top: 20px;
  left: 0;
  z-index: 10;
  position: absolute;
}

/* line 71, ../sass/index.scss */
.header:after {
  width: 471px;
  content: '';
  height: 1px;
  background: -webkit-linear-gradient(left, #99CCFF, #000);
  top: 20px;
  right: 0;
  z-index: 10;
  position: absolute;
}

/* line 83, ../sass/index.scss */
.header span:before {
  width: 30px;
  content: '';
  height: 1px;
  background: #99CCFF;
  top: 27px;
  left: -21px;
  z-index: 10;
  position: absolute;
  transform: rotate(60deg);
}

/* line 95, ../sass/index.scss */
.header span:after {
  width: 30px;
  content: '';
  height: 1px;
  background: #99CCFF;
  top: 27px;
  right: -21px;
  z-index: 10;
  position: absolute;
  transform: rotate(-60deg);
}

/* line 110, ../sass/index.scss */
.main {
  display: flex;
  width: 100%;
  height: calc(100% - 52px);
  flex-wrap: wrap;
  align-items: center;
}
/* line 117, ../sass/index.scss */
.main .item-wrap-a {
  display: flex;
  width: 100%;
  text-align: center;
  flex-wrap: nowrap;
  justify-content: space-around;
}
/* line 124, ../sass/index.scss */
.main .item-wrap-a > div {
  width: 300px;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}
/* line 131, ../sass/index.scss */
.main .item-wrap-a > div h5 {
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 30px;
}
/* line 137, ../sass/index.scss */
.main .item-wrap-a > div .totalnum {
  text-align: center;
  padding: 10px 0 0 0;
}
/* line 140, ../sass/index.scss */
.main .item-wrap-a > div .totalnum span {
  display: inline-block;
  padding: 4px 6px;
  font-size: 24px;
  color: #1bd1bb;
  background: #0f1b4e;
}

/* line 153, ../sass/index.scss */
.item-wrap-b {
  width: 100%;
  display: flex;
  height: calc(100% - 119px);
  overflow: hidden;
  box-sizing: border-box;
}
/* line 159, ../sass/index.scss */
.item-wrap-b .item-wrap-bleft {
  width: 320px;
}
/* line 161, ../sass/index.scss */
.item-wrap-b .item-wrap-bleft > div {
  margin-bottom: 6px;
  position: relative;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5) inset;
}
/* line 168, ../sass/index.scss */
.item-wrap-b .item-wrap-bleft > div .title {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-indent: 10px;
  z-index: 10;
  color: #fff;
  font-size: 16px;
}
/* line 178, ../sass/index.scss */
.item-wrap-b .item-wrap-bleft > div .footer {
  height: 30px;
  line-height: 30px;
  text-indent: 10px;
  z-index: 10;
  color: #fff;
  font-size: 12px;
}
/* line 186, ../sass/index.scss */
.item-wrap-b .item-wrap-bleft > div #iwb-b, .item-wrap-b .item-wrap-bleft > div #iwb-c {
  height: 159px;
  width: 300px;
  margin: 0 auto;
}
/* line 192, ../sass/index.scss */
.item-wrap-b .item-wrap-bleft > div #iwb-a {
  height: 98px;
  width: 300px;
  margin: 0 auto;
}
/* line 199, ../sass/index.scss */
.item-wrap-b .item-wrap-bleft .iwb-a {
  position: relative;
}
/* line 205, ../sass/index.scss */
.item-wrap-b .item-wrap-bright {
  width: 340px;
}
/* line 207, ../sass/index.scss */
.item-wrap-b .item-wrap-bright > div {
  margin-bottom: 5px;
  position: relative;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5) inset;
}
/* line 213, ../sass/index.scss */
.item-wrap-b .item-wrap-bright > div .title {
  width: 100%;
  height: 24px;
  line-height: 24px;
  text-indent: 10px;
  z-index: 10;
  color: #fff;
  font-size: 16px;
  position: relative;
  top: 3px;
}
/* line 225, ../sass/index.scss */
.item-wrap-b .item-wrap-bright > div .footer {
  height: 30px;
  line-height: 30px;
  text-indent: 10px;
  z-index: 10;
  color: #fff;
  font-size: 12px;
}
/* line 233, ../sass/index.scss */
.item-wrap-b .item-wrap-bright > div #iwb-d, .item-wrap-b .item-wrap-bright > div #iwb-f, .item-wrap-b .item-wrap-bright > div #iwb-g {
  height: 218px;
  width: 300px;
  margin: 0 auto;
}
/* line 238, ../sass/index.scss */
.item-wrap-b .item-wrap-bright > div #iwb-g {
  height: 130px;
}
/* line 245, ../sass/index.scss */
.item-wrap-b .iwb-g {
  display: none;
}
/* line 247, ../sass/index.scss */
.item-wrap-b .item-wrap-bmiddle {
  flex: 1;
  margin: 0 10px;
  height: 100%;
  background: url(../timg.gif) no-repeat center center #1a1a1b;
  background-size: contain;
  position: relative;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5) inset;
}
/* line 261, ../sass/index.scss */
.item-wrap-b .item-wrap-bmiddle .title {
  color: #fff;
  line-height: 30px;
  padding: 0 20px;
  position: absolute;
  width: 100%;
  height: 30px;
  line-height: 30px;
  top: 40px;
  text-indent: 30px;
  font-size: 24px;
}
/* line 274, ../sass/index.scss */
.item-wrap-b .item-wrap-bmiddle .showDanum {
  position: absolute;
  width: 110px;
  height: 100px;
  right: 10px;
  top: 250px;
  color: #fff;
  font-size: 12px;
  text-align: center;
}
/* line 284, ../sass/index.scss */
.item-wrap-b .item-wrap-bmiddle .showDanum span {
  position: relative;
  width: 100%;
  height: 60px;
  display: block;
  background: rgba(255, 255, 255, 0.4);
  line-height: 60px;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  color: #ed7d31;
}
/* line 295, ../sass/index.scss */
.item-wrap-b .item-wrap-bmiddle .showDanum span::before {
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  content: '';
  top: 0;
  left: 0;
}
/* line 305, ../sass/index.scss */
.item-wrap-b .item-wrap-bmiddle .showDanum span::after {
  position: absolute;
  width: 10px;
  height: 10px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  content: '';
  bottom: 0;
  right: 0;
}

/* line 323, ../sass/index.scss */
.totalnum-a i, .totalnum-b i, .totalnum-c i, .totalnum-d i {
  width: 33px;
  height: 47px;
  display: inline-block;
  background: url(../number1.png) no-repeat;
  background-position: 0 0;
  margin: 0 2px;
}

/* line 334, ../sass/index.scss */
.iwb-a::before, .iwb-b::before, .iwb-c::before, .iwb-d::before, .iwb-g::before, .iwb-f::before {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 12;
  content: '';
  border-top: 1px solid;
  border-left: 1px solid;
}

/* line 345, ../sass/index.scss */
.iwb-a::after, .iwb-b::after, .iwb-c::after, .iwb-d::after, .iwb-g::after, .iwb-f::after {
  width: 12px;
  height: 12px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 12;
  content: '';
  border-right: 1px solid;
  border-bottom: 1px solid;
}

/* line 360, ../sass/index.scss */
.iwb-a::before, .iwb-a::after {
  border-color: #FF6103;
}

/* line 361, ../sass/index.scss */
.iwb-b::before, .iwb-b::after {
  border-color: #2fe71f;
}

/* line 362, ../sass/index.scss */
.iwb-c::before, .iwb-c::after {
  border-color: #00FFFF;
}

/* line 363, ../sass/index.scss */
.iwb-d::before, .iwb-d::after {
  border-color: #4169E1;
}

/* line 364, ../sass/index.scss */
.iwb-g::before, .iwb-g::after {
  border-color: #FF1493;
}

/* line 365, ../sass/index.scss */
.iwb-f::before, .iwb-f::after {
  border-color: #FF00FF;
}
